
/*shared styles*/
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding:30px 100px;
}
.btn-primary{
    background-color: #4E47FF;
    font-weight: bold;
    color: white;
    font-size: 16px;
    padding: 12px 36px;
    border-radius: 5px;
    border: none;
}
/*hero banner section styles*/
.banner{
    background-image: url(./images/Hero-bg.png);
    height:500px ;
   }
.top-nav{
    display: flex;    
    justify-content: space-between;
    align-items: center;
    
}
.nav-logo{
    font-weight: 800px;
    font-size: 45px;
    color: #4E47FF;
}
h1{
    font-weight: bolder;
    margin-bottom: 20px;
}
.banner-content{
    display: flex;
    flex-direction: column;
    justify-content:center;
     align-items: center;
     text-align: center;
}
/*action section styles*/
.action-section{
    display: flex;
    justify-content: space-between;
     align-items: center;
     margin-top: 100px;
}
/*Productive user section styles*/
.users-main{
    display: flex;
    flex-direction: column;
    justify-content:center;
     text-align: center;
     background-color:rgba(78, 71, 255,.2);
     border-radius: 10px;
     max-width: 940px;
     margin-top: 50px;
}
.active-user{
     display: flex;
    justify-content: space-between;
}